y.zubko/Course Managment/.alpackages/Microsoft_System_22.0.59520.0.app
y.zubko/Course Managment/.alpackages/Microsoft_Base Application_22.4.59114.59560.app
y.zubko/Course Managment/.alpackages/Microsoft_Application_22.4.59114.59560.app
y.zubko/Course Managment/.alpackages/Microsoft_System Application_22.4.59114.59560.app
